{:paths ["src"] ; where your cljd files are
 :deps {}

 :aliases {:cljd {:main-opts ["-m" "cljd.build"]
                  :extra-deps {tensegritics/clojuredart
                               {:git/url "https://github.com/tensegritics/ClojureDart.git"
                                :sha "8d5916c0dc87146dc2e8921aaa7fd5dc3c6c3401"}
                               io.github.wevre/transit-cljd {:git/tag "v0.8.18" :git/sha "23812d9"}}}

           :clj {:extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                              ring/ring-core {:mvn/version "1.9.6"}
                              ring/ring-jetty-adapter {:mvn/version "1.9.6"}
                              com.cognitect/transit-clj {:mvn/version "1.0.329"}}}}

 :cljd/opts {:kind :flutter
             :main acme.main}}
